.top-bar {
  display: flex;
  justify-content: last baseline;
  align-items: center;
  padding: 10px 20px;
  background: $theme;
  height: 60px;
  font-size: 18px;
}

.top-bar__logo img {
  max-height: 40px;
}

.top-bar__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.top-bar__nav li {
  padding: 5px 10px;
  cursor: pointer;
}

.top-bar__nav a {
  text-decoration: none;
  color: #110e0e;
  transition: color 0.3s;
}

.top-bar__nav a:hover {
  color: #441f1f3d;
}

.user-dropdown {
  position: relative;
  height: 100%;
}

.user-dropdown:hover {
  color: #441f1f3d;
}

.user-name:hover {
  color: #441f1f3d;
}
.user-dropdown__menu {
  position: absolute;
  top: 180%;
  right: 0%;
  left: 0%;
  width: 100px;
  background: repeating-linear-gradient(#d2d0ca55, #d2d0ca);
  border: 1px solid repeating-linear-gradient(#d2d0ca55, #d2d0ca);
  border-radius: 5%;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user-dropdown__menu li {
  padding: 10px 20px;
}

.user-dropdown__menu li:hover {
  background-color: #555;
}
