.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__info {
    margin-top: 12px;
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
  }

  &__description {
    color: #666;
    flex-grow: 1;
  }

  &__price {
    color: #333;
    font-size: 1.15em;
    margin: 8px 0;
  }

  &__action {
    margin-top: auto;
    background-color: $gray;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darkblue;
    }
  }
}
