.cart-view {
  display: flex;
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;

  &__button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__button-cart {
    padding: 10px 15px;
    margin: 20px;

    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  &__button-cart:hover {
    background-color: #555;
  }
}
