.gift-view {
  padding: 10px;
  background: $theme;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  margin: 40px auto;
  text-decoration: none;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0 10px;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      margin-bottom: 10px;
      background-color: $content;
      padding: 5px;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      text-decoration: none;

      a {
        text-decoration: none;
        color: $brownish;
        font-weight: 500;
        transition: color 0.3s;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__button {
    padding: 10px 15px;
    background: $gray;
    color: $black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  &__button:hover {
    background-color: #555;
  }
  &__name-icon {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__product-count {
    margin-right: 20px;
  }

  @media (min-width: 768px) {
    width: 70%;
    ul {
      li {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  @media (min-width: 992px) {
    width: 50%;
    ul {
      padding: 0 20px;
    }
  }

  @media (min-width: 1200px) {
    width: 40%;
  }
}
